h2{
    color: rebeccapurple;
}

h1{
    color: darkslateblue;
}

input[type=text] {
    width: 20%;
    padding: 12px 10px;
    margin: 8px 0;
    box-sizing: border-box;
    border: none;
    background-color: #3CBC8D;
    color: white;
}
